<!doctype html>
<html>
<head>
	<title>CS340 Final Project</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	{{{body}}}
  <p><a href="./">Home</a></p>
</body>
</html>