<h1>Departments:</h1>

<table>
    <thead> 
        <th>Id</th>
        <th>Name</th> 
    </thead> 
    <tbody> 
        {{#each department}}
        <tr> 
            <td>{{dept_id}}</td>
            <td>{{name}}</td> 
            <td><button onclick="deleteDepartment({{id}})">Delete</button></td>
            <td><a href="/sows/{{id}}">Update</a></td>
        </tr> 
        {{/each}}
    </tbody> 

    <form class="elegant-aero" id="addDepartment" action="/departments" method="post">
        <h3>Add Department</h3>
        <label>
            <span>Name: </span>
            <input id="name" type="text" name="name" placeholder="Department Name" />
        </label>
        </br></br>
        <label>
            <input type="button" class="button" value="Submit" /> 
        </label>  
    </form>

</table> 
