<h1>Welcome!!</h1>
<p>Please click on the section you would like to visit</p>

<p><a href="./employees">Employees</a></p>
<p><a href="./departments">Departments</a></p>
<p><a href="./jobs">Jobs</a></p>
<p><a href="./sows">Scope Of Works</a></p>